@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
ul li {
    list-style: none;
}
body {
    font-family: Arial,"微软雅黑","Helvetica Neue",Helvetica,sans-serif;
    color: #333;
    line-height: 1;
    font-size: 14px;
    -webkit-text-size-adjust: none;
}
.main-width{
    width: 1200px;
    margin: auto;
}
.active-color{
    color: #5db0f8;
}
