@charset "utf-8";


/*banner*/
.index-banner{
    overflow: hidden;
    width: 100%;
}
img{border:none}
.slideBox{width:100%;height:468px;overflow:hidden;position:relative}
.slideBox .hd{width:100%;position:absolute;bottom:0;z-index:1}
.slideBox .hd ul{text-align:center}
.slideBox .hd ul li{width:80px;height:36px;margin:0 3px;display:inline-block;position:relative}
.slideBox .hd ul li .dot{width:80px;height:4px;background-color:hsla(0,0%,60%,.4)}
.slideBox .hd ul li span{display:none;color:#fff;position:absolute;width:100%;font-size:14px;left:0;top:0;line-height:36px;cursor:pointer}
.slideBox .hd ul li.on .liner{width:80px;height:4px;animation:liner 2.5s;position:absolute;top:0;left:0;background:linear-gradient(90deg,#198cff,#8847c1)}
.slideBox .hd ul li:hover .dot{display:none}
.slideBox .hd ul li:hover{width:206px;height:36px;transform:translateY(-50%);background:linear-gradient(90deg,#198cff,#8847c1);transition:all .1s ease}
.slideBox .hd ul li:hover span{display:inline-block}
@keyframes liner{from{width:0}
    to{width:100%}
}
.slideBox .bd{width:100%;position:relative;height:468px;overflow:hidden}
.slideBox .bd li{text-align:center}
.slideBox .bd img{width:1600px;height:468px}
.slideBox .bd:hover~.prev{display:block}
.slideBox .bd:hover~.next{display:block}
.slideBox .prev:hover{display:block}
.slideBox .next:hover{display:block}
.slideBox .prev{display:none;position:absolute;left:3%;top:50%;margin-top:-25px;width:29px;height:52px;background:url(../images/left_array.png) no-repeat;background-size:cover}
.slideBox .next{display:none;position:absolute;right:3%;top:50%;margin-top:-25px;width:29px;height:52px;background:url(../images/right_array.png) no-repeat;background-size:cover}
.slideBox .bd li.active{animation-name:ai-big-out;animation-duration:.3s;animation-timing-function:ease;animation-fill-mode:forwards}
@keyframes ai-big-out{0%{z-index:3;transform:scale(1.1);opacity:1}
    50%{transform:scale(1.2);opacity:.5}
    to{transform:scale(1.3);opacity:1}
}
/*index-news*/
.index-news{
    overflow:hidden;
}
.n_d_left {
    width: 620px;
    height: 388px;
    background: #fff;
    cursor: pointer;
    float: left;
}
.n_d_left .news_img {
     margin-top: 20px;
     margin-left: 20px;
     width: 580px;
     height: 286px;
     background: url('../images/home_news_bg.png');
 }
.n_d_left ul {
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
}
.n_d_left ul .date {
    font-size: 24px;
    font-weight: 500;
    color: rgba(51,51,51,1);
    line-height: 26px;
}
.n_d_left ul .year {
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    color: rgba(153,153,153,1);
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
}
.n_d_left ul:last-child li {
    margin-bottom: 8px;
}
.n_d_left .news_title {
    font-size: 16px;
    font-weight: 500;
    color: rgba(51,51,51,1);
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    text-align: right;
}
.n_d_left_ul2{
    width: 478px;
}
.n_d_right {
    width: 556px;
    height: 388px;
    float: right;
}
.n_d_right ul {
    display: inline-block;
    position: relative;
}
.n_d_right ul .news_box:hover {
    cursor: pointer;
    background: #5db0f8;
    color: #fff;
}
.news_box:hover ul li {
    color: #FFFFFF !important;
}
.news_box:hover .short_line:after {
    background: #ffffff;
}
.n_d_right ul .news_box {
    position: relative;
    width: 556px;
    height: 82px;
    background: #fff;
    margin-bottom: 20px;
    transition-duration: 0.8s;
}
.short_line {
    position: relative;
}
.news_date {
    padding-top: 20px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    line-height: 26px;
}
.news_year {
    margin-left: 51px;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    line-height: 19px;
}
.news_box .short_line:after {
    position: absolute;
    content: "";
    right: -15px;
    top: 22px;
    width: 1px;
    height: 39px;
    background: rgba(153,153,153,1);
}
.short_line:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 60px;
    background: rgba(230,230,230,1);
    right: -24px;
    top: 12px;
}
.news_tag {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
}
.width440{
    width: 440px;
}
.con_right {
    float: right;
    padding: 20px 0 0;
}
.news_content {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    line-height: 16px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
}
.more{
    text-align: center;
    width: 200px;
    border: 1px solid #fff;
    height: 40px;
    line-height: 40px;
    background: #fff;
    margin:30px auto 0;
}
.more a{
    color: #999;
}
.index-about-us{
    overflow: hidden;
}
.index-about-us-img{
    width: 38%;
    float: left;
}
.index-about-us-text{
    width: 58%;
    float: right;
    font-size: 16px;
    line-height: 1.8;
    text-indent: 2em;
}
.index-about-us-text p{
    margin-top: 10px;
    color: #999;
}
.index-business ul{
    width: 1230px;
}
.index-business ul li{
    width: calc(25% - 27px);
    float: left;
    margin-right: 25px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #f1f1f1;
}
.index-business ul li:hover{
    box-shadow: 0 0 5px 5px #f1f1f1;
}
.index-business ul li img{
    width: 100%;
}
.index-business-text{
    text-align: center;
    padding: 10px 10px 15px;
}
.index-business-text h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 2;
}
.index-business-text p{
    color: #999;
    line-height: 1.8;
}

.contant ul li{
    line-height: 35px;
}
.contant{
    overflow: hidden;
    padding-bottom: 20px;
}
.company-name{
    line-height: 45px;
}
.about-us{
    padding: 20px 0;
}
.about-img{
    width: 50%;
    margin: auto;
    padding: 20px 0;
}
.news-detail{
    width: 100%;
    text-align: center;
}
.news-detail p{
    line-height: 35px;
    text-indent: 2em;
    text-align: left;
}
.news-detail img{
    margin: 15px 0;
}
.news-detail-title{
    margin-bottom: 20px;
    line-height: 2;
    font-weight: bold;
    color: #000;
    position: relative;
    padding-bottom: 10px;
    text-align: center;
}

.news-detail-title:before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 50px;
    margin-left: -25px;
    height: 2px;
    left: 50%;
    background: #5db0f8;
}
/*主营业务*/
.main-business-title{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}
.main-business-title h2{
    font-size: 20px;
    font-weight: 400;
    color: rgba(51,51,51,1);
    line-height: 28px;
}
.main-business-title p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(153,153,153,1);
    line-height: 25px;
}

.main-business-left{
    background: #ffffff;
    display: inline-block;
    width: 220px;
    height: 100%;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
}
.main-business-left-menu ul li.active {
    background: linear-gradient(90deg,#5db0f8 0%, rgba(253,174,50,1) 100%);
    /*background: linear-gradient(90deg,rgba(237,105,0,1) 0%,rgba(253,174,50,1) 100%);*/
}
.main-business-left-menu ul li.active a{
    color: rgba(255,255,255,1);
}
.main-business-left-menu ul li a{
    padding: 18px 0;
    display: block;
}
.main-business-left-menu ul li{
    font-size: 16px;
    font-weight: 500;
    color: rgba(51,51,51,1);
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    display: block;
}

.main-business-right {
    width: 960px;
    background: #ffffff;
    display: block;
    float: right;
}
.width906{
    width: 906px;
}
.width1150{
    width: 1150px;
    margin: auto;
}
.bg-f7f{
    background: #f7f7f7;
}
.news-list{
    background: #ffffff;
}
.profile_top {
    border-bottom: 1px solid rgba(238,238,238,1);
    margin: auto;
}
.left240:before{
    left: 240px;
}
.left0:before{
    left: 0px;
}
.profile_top:before {
    position: absolute;
    content: '';
    top: 27px;
    width: 6px;
    height: 18px;
    background: #5db0f8;
}
.profile_top .head_title {
    display: inline-block;
}
.profile_top .head_title p {
    padding: 24px 0 20px 0;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: rgba(51,51,51,1);
    line-height: 25px;
    position: relative;
}
.profile_top ul {
    float: right;
    display: inline-block;
    padding: 26px 0 26px 0;
}
.profile_top ul li {
    display: inline-block;
    font-size: 14px;
    color: rgba(51,51,51,1);
    line-height: 16px;
    position: relative;
    padding-right: 14px;
}

.profile_top ul li:after {
    position: absolute;
    content: "";
    width: 4px;
    height: 7px;
    top: 4px;
    right: 4px;
    background: url('../images/about_download_triangle.png') no-repeat;
}
.profile_top ul li:last-child {
    padding-right: 0;
}
.profile_middle {
    position: relative;
    padding-bottom: 30px;
}
.profile_middle .profile_title {
    font-size: 30px;
    font-weight: 400;
    color: rgba(51,51,51,1);
    line-height: 36px;
    padding: 56px 0 12px 0;
    text-align: center;
}
.profile_middle .block1 {
    width: 700px;
    height: 250px;
    background: url('../images/product_business_pic1.png') no-repeat;
    margin: 45px auto 12px;
}
.part_three {
    font-size: 18px;
    font-weight: 400;
    color: rgba(51,51,51,1);
    line-height: 16px;
    text-align: center;
    position: relative;
    width: 700px;
    margin: 50px auto 20px;
}
.profile_middle .part_three span:before {
    content: "";
    width: 140px;
    height: 1px;
    background: #d8d8d8;
    position: absolute;
    left: 145px;
    top: 7px;
}
.profile_middle .part_three span:after {
    content: '';
    width: 140px;
    height: 1px;
    background: #d8d8d8;
    position: absolute;
    right: 145px;
    top: 7px;
}
.profile_middle p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(153,153,153,1);
    line-height: 30px;
    text-align: center;
}
.news_list{
    margin: 0 25px;
}
.news_list ul {
    display: inline-block;
}
.news_list a {
    display: block;
    overflow: hidden;
}
.width1020{
    width: 1020px;
}
.news_list:hover {
    cursor: pointer;
}
.news_list {
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
}
.profile_middle .profile_title {
    text-align: center;
    font-size: 20px;
    padding-top: 32px;
    font-weight: 400;
    color: rgba(51,51,51,1);
}
.news-detail-middle{
    padding: 0 25px;
}
.news-detail-middle p{
    margin-bottom: 15px;
    text-align: left;
    text-indent: 2em;
}
.next-new{
    display: flex;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
.next-new a{
    color: #888;
}
.flex{
    flex: 1;
}
.next-new-left{
    text-align: left;
}
.next-new-right{
    text-align: right;
}
