@charset "utf-8";


/*banner*/
.index-banner{
    overflow: hidden;
    width: 100%;
}
img{border:none}
.slideBox{width:100%;height:468px;overflow:hidden;position:relative}
.slideBox .hd{width:100%;position:absolute;bottom:0;z-index:1}
.slideBox .hd ul{text-align:center}
.slideBox .hd ul li{width:80px;height:36px;margin:0 3px;display:inline-block;position:relative}
.slideBox .hd ul li .dot{width:80px;height:4px;background-color:hsla(0,0%,60%,.4)}
.slideBox .hd ul li span{display:none;color:#fff;position:absolute;width:100%;font-size:14px;left:0;top:0;line-height:36px;cursor:pointer}
.slideBox .hd ul li.on .liner{width:80px;height:4px;animation:liner 2.5s;position:absolute;top:0;left:0;background:linear-gradient(90deg,#198cff,#8847c1)}
.slideBox .hd ul li:hover .dot{display:none}
.slideBox .hd ul li:hover{width:206px;height:36px;transform:translateY(-50%);background:linear-gradient(90deg,#198cff,#8847c1);transition:all .1s ease}
.slideBox .hd ul li:hover span{display:inline-block}
@keyframes liner{from{width:0}
    to{width:100%}
}
.slideBox .bd{width:100%;position:relative;height:468px;overflow:hidden}
.slideBox .bd li{text-align:center}
.slideBox .bd img{width:1600px;height:468px}
.slideBox .bd:hover~.prev{display:block}
.slideBox .bd:hover~.next{display:block}
.slideBox .prev:hover{display:block}
.slideBox .next:hover{display:block}
.slideBox .prev{display:none;position:absolute;left:3%;top:50%;margin-top:-25px;width:29px;height:52px;background:url(../images/left_array.png) no-repeat;background-size:cover}
.slideBox .next{display:none;position:absolute;right:3%;top:50%;margin-top:-25px;width:29px;height:52px;background:url(../images/right_array.png) no-repeat;background-size:cover}
.slideBox .bd li.active{animation-name:ai-big-out;animation-duration:.3s;animation-timing-function:ease;animation-fill-mode:forwards}
@keyframes ai-big-out{0%{z-index:3;transform:scale(1.1);opacity:1}
    50%{transform:scale(1.2);opacity:.5}
    to{transform:scale(1.3);opacity:1}
}
/*index-news*/
.index-news{
    overflow:hidden;
}
.index-news ul li{
    width: 48%;
    display: inline-block;
    margin-top: 20px;
}
.index-news ul li:nth-child(odd){
    float: left;
}
.index-news ul li:nth-child(even){
    float: right;
}
.index-news ul li a{
    display: flex;
    overflow: hidden;
}
.index-news-img{
    width: calc(30% - 30px);
    margin-right: 30px;
    border: 1px solid #f1f1f1;
}
.index-news-img img{
    width: 100%;
}
.index-news-text{
    width: 70%;
}
.index-news-text h2{
    font-weight: normal;
    line-height: 2.5;
    font-size: 22px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
}
.index-news-text p{
    line-height: 1.8;
    color: #999;
    font-size: 16px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.index-news ul li a:hover h2{
    color: #5db0f8;
}
.index-about-us{
    overflow: hidden;
}
.index-about-us-img{
    width: 38%;
    float: left;
}
.index-about-us-text{
    width: 58%;
    float: right;
    font-size: 16px;
    line-height: 1.8;
    text-indent: 2em;
}
.index-about-us-text p{
    margin-top: 10px;
}
.index-business ul{
    width: 1230px;
}
.index-business ul li{
    width: calc(25% - 27px);
    float: left;
    margin-right: 25px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #f1f1f1;
}
.index-business ul li:hover{
    box-shadow: 0 0 5px 5px #f1f1f1;
}
.index-business ul li img{
    width: 100%;
}
.index-business-text{
    text-align: center;
    padding: 10px 10px 15px;
}
.index-business-text h2 {
    line-height: 2;
}
.index-business-text p{
    color: #666;
    line-height: 1.8;
}
